{
    "compiler": "modular",
    "name": "v-figure",
    "version": "0.0.1",
    "dependencies": {
        "underscore": "1.6.1"
    },
    "alias": {},
    "export": [
        {
            "path": "demo/bar.js",
            "no_version": false
        },
        {
            "path": "demo/stripBar.js",
            "no_version": false
        },
        {
            "path": "demo/polyline.js",
            "no_version": false
        },
        {
            "path": "demo/polylineMobile.js",
            "no_version": false
        }
    ]
}